In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import os
import matplotlib.ticker as mticks
import matplotlib.dates as mdates

In [2]:
def format_xdates(ax, fig=None, xtick_fontweight='bold',
               title= None):
    """Formats x-axis with minor ticks every 3 months, and major 
    ticks every year. Includes different grid options for visibility"""
    # create the locator to place ticks every 3 months.
    loc_3months = mdates.MonthLocator(interval=3)
    fmt_months = mdates.DateFormatter("%b")
    ## for major year ticks
    loc_year = mdates.YearLocator()
    fmt_year = mdates.DateFormatter("%Y")
    
    ## Change the font of the major ticks to stand out
    ax.set_xticks(ax.get_xticks())
    ax.set_xticklabels(ax.get_xticklabels(), 
                       fontweight=xtick_fontweight) 
    
    ## customize minor ticks
    ax.xaxis.set_minor_locator(loc_3months)
    ax.xaxis.set_minor_formatter(fmt_months)
    ## customize major ticks
    ax.xaxis.set_major_locator(loc_year)
    ax.xaxis.set_major_formatter(fmt_year)
    ## Making major/minor gridlines visually distince
    ax.grid(which='minor',axis='x',ls=":")
    ax.grid(which='major',axis='x',color='k')
    if fig is None:
        fig = ax.get_figure()
    ## rotate the dates
    fig.autofmt_xdate(which='major',rotation=90,ha='center')
    return fig,ax

In [3]:
city_df = pd.read_csv('City_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month - City_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')

In [4]:
city_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1/31/2000,2/29/2000,...,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,253690.0,255517.0,...,741586.0,745686.0,750578.0,756734.0,762321.0,768797.0,773944.0,777692.0,779960.0,781622.0
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,234181.0,234401.0,...,924019.0,928991.0,937936.0,953874.0,973168.0,990391.0,992337.0,992630.0,978196.0,966595.0
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,109068.0,109079.0,...,245783.0,248718.0,252080.0,256435.0,261101.0,265558.0,268901.0,271059.0,272400.0,272639.0
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,166139.0,166536.0,...,302821.0,305104.0,306404.0,308303.0,309649.0,312487.0,314663.0,315910.0,315587.0,315429.0
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,114794.0,114975.0,...,269323.0,274032.0,278464.0,284127.0,289739.0,294776.0,297727.0,298796.0,299124.0,298951.0

In [5]:
city_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22467 entries, 0 to 22466
Columns: 281 entries, RegionID to 9/30/2022
dtypes: float64(273), int64(2), object(6)
memory usage: 48.2+ MB

In [6]:
city_df.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'Metro', 'CountyName', '1/31/2000', '2/29/2000',
       ...
       '12/31/2021', '1/31/2022', '2/28/2022', '3/31/2022', '4/30/2022',
       '5/31/2022', '6/30/2022', '7/31/2022', '8/31/2022', '9/30/2022'],
      dtype='object', length=281)

In [7]:
melted = pd.melt(city_df,id_vars=['RegionID', 'SizeRank','RegionName', 'RegionType', 'StateName', 'State', 'Metro', 'CountyName'])
melted

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,variable,value
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,1/31/2000,253690.0
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,1/31/2000,234181.0
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,1/31/2000,109068.0
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,1/31/2000,166139.0
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,1/31/2000,114794.0
...,...,...,...,...,...,...,...,...,...,...
6133486,236350,28439,Palisades,city,TX,TX,"Amarillo, TX",Randall County,9/30/2022,192110.0
6133487,40403,28439,Port Mansfield,city,TX,TX,"Raymondville, TX",Willacy County,9/30/2022,264685.0
6133488,54740,28439,Tribes Hill,city,NY,NY,"Amsterdam, NY",Montgomery County,9/30/2022,142438.0
6133489,249186,28439,Derby Center,city,VT,VT,NaN,Orleans County,9/30/2022,266255.0
6133490,42575,28439,Quinwood,city,WV,WV,NaN,Greenbrier County,9/30/2022,40331.0

In [8]:
melted = pd.melt(city_df.drop(columns=['State']),
                 id_vars=['SizeRank', 'RegionName'],
                value_name='RegionType',var_name="Metro")
melted

C:\Users\cathe\AppData\Local\Temp\ipykernel_16668\3129855969.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  melted = pd.melt(city_df.drop(columns=['State']),

         SizeRank      RegionName      Metro RegionType
0               0        New York   RegionID       6181
1               1     Los Angeles   RegionID      12447
2               2         Houston   RegionID      39051
3               3         Chicago   RegionID      17426
4               4     San Antonio   RegionID       6915
...           ...             ...        ...        ...
6245821     28439       Palisades  9/30/2022   192110.0
6245822     28439  Port Mansfield  9/30/2022   264685.0
6245823     28439     Tribes Hill  9/30/2022   142438.0
6245824     28439    Derby Center  9/30/2022   266255.0
6245825     28439        Quinwood  9/30/2022    40331.0

[6245826 rows x 4 columns]

In [10]:
melted['RegionName'] = pd.to_datetime(melted['RegionName'])
melted.info()

ParserError: Unknown string format: New York present at position 0

In [ ]:
melted = melted.set_index("RegionType")
melted

In [ ]:
# take a look at what happens when we resample
melted.resample("D").sum()

In [ ]:
## There are 199 unique countries included
melted['RegionName'].nunique()

In [ ]:
df_ts = melted.groupby('RegionName').resample("D").sum()
df_ts

In [ ]:
df_ts.head().index

In [ ]:
plot_df.plot(figsize=(12,4));

In [ ]:
ax = unstacked.plot()

In [ ]:
unstacked.columns

In [ ]:
ax = unstacked['RegionName'].plot()